backend/nodered-mongodb-test.json
[
    {
        "id": "e134af0e.019898",
        "type": "tab",
        "label": "Lookup Logic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8ab76b0.450f8",
        "type": "mongodb",
        "hostname": "mongodb-performance-figures",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "performance-figures",
        "name": "MongoDB"
    },
    {
        "id": "885de229.3d242",
        "type": "inject",
        "z": "e134af0e.019898",
        "name": "Empty query (find all)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "a1a61d6d.df63"
            ]
        ]
    },
    {
        "id": "a56b099c.0f795",
        "type": "debug",
        "z": "e134af0e.019898",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "f524098a.a4879",
        "type": "csv",
        "z": "e134af0e.019898",
        "name": "Extract CSV rows to JS objects",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "94fc067c.ae704"
            ]
        ]
    },
    {
        "id": "a4901ea0.19b9c",
        "type": "template",
        "z": "e134af0e.019898",
        "name": "Entries (CSV)",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "modelType,model,type,commonName,architecture,sockets,coresPerSocket,totalCores,frequencyGHz,CPW,iseriesModelType,rperfSMT1,rperfSMT2,rperfSMT4,rperfSMT8\n7029-6C3,7029,6C3,p615,p4+,1,1,1,1.2,,,2.5,,,\n7029-6C3,7029,6C3,p615,p4+,1,2,2,1.2,,,4,,,\n7029-6E3,7029,6E3,p615,p4+,1,1,1,1.2,,,2.5,,,\n7029-6E3,7029,6E3,p615,p4+,1,2,2,1.2,,,4,,,\n7029-6E3,7029,6E3,p615,p4+,1,2,2,1.45,,,4.4,,,\n7029-6E3,7029,6E3,p615,p4_,1,2,2,1.45,,,4.4,,,\n7028-6C4,7028,6C4,p630,p4_,1,1,1,1,,,1.7,,,\n7028-6C4,7028,6C4,p630,p4_,2,2,4,1,,,7.1,,,\n7028-6E4,7028,6E4,p630,p4_,1,1,1,1,,,1.7,,,\n7028-6E4,7028,6E4,p630,p4_,2,2,4,1,,,7.1,,,\n7028-6C4,7028,6C4,p630,p4+,1,1,1,1.2,,,2.5,,,\n7028-6C4,7028,6C4,p630,p4+,2,2,4,1.2,,,8.1,,,\n7028-6E4,7028,6E4,p630,p4+,1,1,1,1.2,,,2.5,,,\n7028-6E4,7028,6E4,p630,p4+,2,2,4,1.2,,,8.1,,,\n7028-6C4,7028,6C4,p630,p4+,1,1,1,1.45,,,2.9,,,\n7028-6C4,7028,6C4,p630,p4+,2,2,4,1.45,,,8.7,,,\n7028-6E4,7028,6E4,p630,p4+,1,1,1,1.45,,,2.9,,,\n7028-6E4,7028,6E4,p630,p4+,2,2,4,1.45,,,8.7,,,\n7038-6M2,7038,6M2,p650,p4+,1,2,2,1.2,,,4,,,\n7038-6M2,7038,6M2,p650,p4+,2,2,4,1.2,,,8.1,,,\n7038-6M2,7038,6M2,p650,p4+,3,2,6,1.2,,,11.8,,,\n7038-6M2,7038,6M2,p650,p4+,4,2,8,1.2,,,15.5,,,\n7038-6M2,7038,6M2,p650,p4+,1,2,2,1.45,,,4.5,,,\n7038-6M2,7038,6M2,p650,p4+,2,2,4,1.45,,,9.1,,,\n7038-6M2,7038,6M2,p650,p4+,3,2,6,1.45,,,13.5,,,\n7038-6M2,7038,6M2,p650,p4+,4,4,8,1.45,,,18.7,,,\n7040-671,7040,671,p670,p4_,1,8,4,1.1,,,10.2,,,\n7040-671,7040,671,p670,p4_,1,8,8,1.1,,,18,,,\n7040-671,7040,671,p670,p4_,2,8,16,1.1,,,34.7,,,\n7040-671,7040,671,p670,p4_,1,8,4,1.5,,,13.7,,,\n7040-671,7040,671,p670,p4_,1,8,8,1.5,,,24.2,,,\n7040-671,7040,671,p670,p4_,2,8,16,1.5,,,46.8,,,\n7040-681,7040,681,p690,p4_,1,8,8,1.1,,,18,,,\n7040-681,7040,681,p690,p4_,2,8,16,1.1,,,34.7,,,\n7040-681,7040,681,p690,p4_,3,8,24,1.1,,,48.1,,,\n7040-681,7040,681,p690,p4_,4,8,32,1.1,,,60.7,,,\n7040-681,7040,681,p690,p4_,1,8,8,1.5,,,24.2,,,\n7040-681,7040,681,p690,p4_,2,8,16,1.5,,,46.8,,,\n7040-681,7040,681,p690,p4_,3,8,24,1.5,,,65,,,\n7040-681,7040,681,p690,p4_,4,8,32,1.5,,,82,,,\n7040-681,7040,681,p690,p4_,1,8,8,1.3,,,21.2,,,\n7040-681,7040,681,p690,p4_,2,8,16,1.3,,,40.9,,,\n7040-681,7040,681,p690,p4_,3,8,24,1.3,,,56.5,,,\n7040-681,7040,681,p690,p4_,4,8,32,1.3,,,71.4,,,\n7040-681,7040,681,p690-HPC,p4_,2,8,8,1.3,,,22.7,,,\n7040-681,7040,681,p690-HPC,p4_,4,8,16,1.3,,,42.1,,,\n7040-681,7040,681,p690,p4+,1,8,8,1.7,,,27.1,,,\n7040-681,7040,681,p690,p4+,2,8,16,1.7,,,52.5,,,\n7040-681,7040,681,p690,p4+,3,8,24,1.7,,,72.9,,,\n7040-681,7040,681,p690,p4+,4,8,32,1.7,,,92.2,,,\n7040-681,7040,681,p690,p4+,1,8,8,1.9,,,30.6,,,\n7040-681,7040,681,p690,p4+,2,8,16,1.9,,,59.3,,,\n7040-681,7040,681,p690,p4+,3,8,24,1.9,,,82.3,,,\n7040-681,7040,681,p690,p4+,4,8,32,1.9,,,104.2,,,\n9115-505,9115,505,p5-505,p5_,1,2,2,1.5,,,,9.1,,\n9115-505,9115,505,p5-505,p5_,1,1,1,1.65,,,,3.5,,\n9115-505,9115,505,p5-505,p5_,1,2,2,1.65,,,,9.9,,\n9115-505,9115,505,p5-505,p5+,1,1,1,1.9,,,,4.1,,\n9115-505,9115,505,p5-505,p5+,1,2,2,1.9,,,,11.5,,\n9115-505,9115,505,p5-505,p5+,1,2,2,2.1,,,,12.5,,\n9115-505,9115,505,p5-505Q,p5+,1,4,4,1.65,,,,20.3,,\n9110-510,9110,510,p5-510,p5_,1,1,1,1.5,,,,3.3,,\n9110-510,9110,510,p5-510,p5_,1,2,2,1.5,,,,9.1,,\n9110-510,9110,510,p5-510,p5_,1,1,1,1.65,,,,5.2,,\n9110-510,9110,510,p5-510,p5_,1,2,2,1.65,,,,9.9,,\n9110-510,9110,510,p5-510,p5+,1,1,1,1.9,,,,6.1,,\n9110-510,9110,510,p5-510,p5+,1,2,2,1.9,,,,11.5,,\n9110-51A,9110,51A,p5-510,p5+,1,1,1,2.1,,,,6.6,,\n9110-51A,9110,51A,p5-510,p5+,1,2,2,2.1,,,,12.5,,\n9110-51A,9110,51A,p5-510Q,p5+,1,4,4,1.5,,,,18.8,,\n9110-51A,9110,51A,p5-510Q,p5+,1,4,4,1.65,,,,20.3,,\n9111-520,9111,520,p5-520,p5_,1,1,1,1.5,2400,9406-520,,3.3,,\n9111-520,9111,520,p5-520,p5_,1,2,2,1.5,,,,9.1,,\n9111-520,9111,520,p5-520,p5_,1,2,2,1.65,6000,9406-520,,9.9,,\n9131-52A,9131,52A,p5-520,p5+,1,1,1,1.65,3300,9406-520,,3.6,,\n9131-52A,9131,52A,p5-520,p5+,1,2,2,1.65,6000,9406-520,,10.2,,\n9131-52A,9131,52A,p5-520,p5+,1,2,2,1.9,7100,9406-525,,11.2,,\n9131-52A,9131,52A,p5-520,p5+,1,1,1,2.1,,,,6.6,,\n9131-52A,9131,52A,p5-520,p5+,1,2,2,2.1,,,,12.5,,\n9131-52A,9131,52A,p5-520Q,p5+,1,4,4,1.5,,,,18.8,,\n9131-52A,9131,52A,p5-520Q,p5+,1,4,4,1.65,,,,20.3,,\n9113-550,9113,550,p5-550,p5_,1,1,1,1.5,,,,3.3,,\n9113-550,9113,550,p5-550,p5_,2,2,2,1.5,,,,9.1,,\n9113-550,9113,550,p5-550,p5_,2,2,4,1.5,,,,18.2,,\n9113-550,9113,550,p5-550,p5_,2,1,2,1.65,,,,9.9,,\n9113-550,9113,550,p5-550,p5_,2,2,4,1.65,,,,19.7,,\n9133-55A,9133,55A,p5-550,p5+,2,1,2,1.65,6000,9406-550,,10.2,,\n9133-55A,9133,55A,p5-550,p5+,2,2,4,1.65,12000,9406-550,,20.3,,\n9133-55A,9133,55A,p5-550,p5+,2,1,2,1.9,7100,9406-550,,11.2,,\n9133-55A,9133,55A,p5-550,p5+,2,2,4,1.9,14000,9406-550,,22.3,,\n9133-55A,9133,55A,p5-550,p5+,2,1,2,2.1,,,,12.5,,\n9133-55A,9133,55A,p5-550,p5+,2,2,4,2.1,,,,24.9,,\n9133-55A,9133,55A,p5-550Q,p5+,1,4,4,1.5,,,,18.2,,\n9133-55A,9133,55A,p5-550Q,p5+,2,4,8,1.5,,,,34.5,,\n9133-55A,9133,55A,p5-550Q,p5+,1,4,4,1.65,,,,20.3,,\n9133-55A,9133,55A,p5-550Q,p5+,2,4,8,1.65,,,,38.3,,\n9116-561,9116,561,p5-560Q,p5+,1,4,4,1.5,,,,18.8,,\n9116-561,9116,561,p5-560Q,p5+,2,4,8,1.5,,,,35.5,,\n9116-561,9116,561,p5-560Q,p5+,4,4,16,1.5,,,,65.2,,\n9116-561,9116,561,p5-560Q,p5+,1,4,4,1.8,,,,21.7,,\n9116-561,9116,561,p5-560Q,p5+,2,4,8,1.8,,,,41.1,,\n9116-561,9116,561,p5-560Q,p5+,4,4,16,1.8,,,,75.6,,\n9117-570,9117,570,p5-570,p5_,1,2,2,1.5,,,,9.1,,\n9117-570,9117,570,p5-570,p5_,2,2,4,1.5,,,,18.2,,\n9117-570,9117,570,p5-570,p5_,4,2,8,1.5,,,,34.5,,\n9117-570,9117,570,p5-570,p5_,1,2,2,1.65,6000,9406-570,,9.9,,\n9117-570,9117,570,p5-570,p5_,2,2,4,1.65,12000,9406-570,,19.7,,\n9117-570,9117,570,p5-570,p5_,4,2,8,1.65,23500,9406-570,,37.2,,\n9117-570,9117,570,p5-570,p5_,6,2,12,1.65,33400,9406-570,,53.4,,\n9117-570,9117,570,p5-570,p5_,8,2,16,1.65,44700,9406-570,,68.4,,\n9117-570,9117,570,p5-570,p5_,1,2,2,1.9,,,,11.2,,\n9117-570,9117,570,p5-570,p5_,2,2,4,1.9,,,,22.3,,\n9117-570,9117,570,p5-570,p5_,4,2,8,1.9,,,,42.1,,\n9117-570,9117,570,p5-570,p5_,6,2,12,1.9,,,,60.5,,\n9117-570,9117,570,p5-570,p5_,8,2,16,1.9,,,,77.5,,\n9117-570,9117,570,p5-570,p5+,1,2,2,1.9,,,,12.3,,\n9117-570,9117,570,p5-570,p5+,2,2,4,1.9,,,,24.5,,\n9117-570,9117,570,p5-570,p5+,4,2,8,1.9,,,,46.4,,\n9117-570,9117,570,p5-570,p5+,6,2,12,1.9,,,,66.6,,\n9117-570,9117,570,p5-570,p5+,8,2,16,1.9,,,,85.2,,\n9117-570,9117,570,p5-570,p5+,1,2,2,2.2,8100,9406-570,,13.8,,\n9117-570,9117,570,p5-570,p5+,2,2,4,2.2,16700,9406-570,,27.6,,\n9117-570,9117,570,p5-570,p5+,4,2,8,2.2,31100,9406-570,,52.2,,\n9117-570,9117,570,p5-570,p5+,6,2,12,2.2,,,,75,,\n9117-570,9117,570,p5-570,p5+,8,2,16,2.2,58500,9406-570,,96,,\n9119-590,9119,590,p5-590,p5_,1,8,8,1.65,24500,9406-595,,41.7,,\n9119-590,9119,590,p5-590,p5_,2,8,16,1.65,46000,9406-595,,80.9,,\n9119-590,9119,590,p5-590,p5_,3,8,24,1.65,,,,116.3,,\n9119-590,9119,590,p5-590,p5_,4,8,32,1.65,165000,9406-595,,151.7,,\n9119-590,9119,590,p5-590,p5+,1,8,8,2.1,,,,55.7,,\n9119-590,9119,590,p5-590,p5+,2,8,16,2.1,,,,108.1,,\n9119-590,9119,590,p5-590,p5+,3,8,24,2.1,,,,155.5,,\n9119-590,9119,590,p5-590,p5+,4,8,32,2.1,,,,202.9,,\n9119-595,9119,595,p5-595,p5_,2,8,16,1.65,44700,9406-595,,80.9,,\n9119-595,9119,595,p5-595,p5_,3,8,24,1.65,,,,116.3,,\n9119-595,9119,595,p5-595,p5_,4,8,32,1.65,,,,151.7,,\n9119-595,9119,595,p5-595,p5_,5,8,40,1.65,,,,182.1,,\n9119-595,9119,595,p5-595,p5_,6,8,48,1.65,,,,212.4,,\n9119-595,9119,595,p5-595,p5_,7,8,56,1.65,,,,242.8,,\n9119-595,9119,595,p5-595,p5_,8,8,64,1.65,165000,9406-595,,273.1,,\n9119-595,9119,595,p5-595,p5_,2,8,16,1.9,50500,9406-595,,90.7,,\n9119-595,9119,595,p5-595,p5_,3,8,24,1.9,,,,130.4,,\n9119-595,9119,595,p5-595,p5_,4,8,32,1.9,92000,9406-595,,170.1,,\n9119-595,9119,595,p5-595,p5_,5,8,40,1.9,,,,204.1,,\n9119-595,9119,595,p5-595,p5_,6,8,48,1.9,,,,238.2,,\n9119-595,9119,595,p5-595,p5_,7,8,56,1.9,,,,272.2,,\n9119-595,9119,595,p5-595,p5_,8,8,64,1.9,184000,9406-595,,306.2,,\n9119-595,9119,595,p5-595,p5+,2,8,16,2.1,,,,108.1,,\n9119-595,9119,595,p5-595,p5+,3,8,24,2.1,,,,155.5,,\n9119-595,9119,595,p5-595,p5+,4,8,32,2.1,,,,202.9,,\n9119-595,9119,595,p5-595,p5+,5,8,40,2.1,,,,243.5,,\n9119-595,9119,595,p5-595,p5+,6,8,48,2.1,,,,284,,\n9119-595,9119,595,p5-595,p5+,7,8,56,2.1,,,,324.6,,\n9119-595,9119,595,p5-595,p5+,8,8,64,2.1,,,,365.2,,\n9119-595,9119,595,p5-595,p5+,2,8,16,2.3,58800,9406-595,,116.5,,\n9119-595,9119,595,p5-595,p5+,3,8,24,2.3,,,,167.6,,\n9119-595,9119,595,p5-595,p5+,4,8,32,2.3,108000,9406-595,,218.6,,\n9119-595,9119,595,p5-595,p5+,5,8,40,2.3,,,,262.4,,\n9119-595,9119,595,p5-595,p5+,6,8,48,2.3,,,,306.1,,\n9119-595,9119,595,p5-595,p5+,7,8,56,2.3,,,,349.8,,\n9119-595,9119,595,p5-595,p5+,8,8,64,2.3,216000,9406-595,,393.6,,\n7998-60X,7998,60X,JS12,p6_,1,2,2,3.8,7100,,,14.7,,\n7998-61X,7998,61X,JS22,p6_,2,2,4,4,13800,,,30.3,,\n7998-23X,7998,23X,JS23,p6+,2,2,4,4.2,14400,,,36.3,,\n7998-23X,7998,23X,JS43,p6+,4,2,8,4.2,24050,,,68.2,,\n8203-E4A,8203,E4A,520,p6_,1,1,1,4.2,4300,,,8.4,,\n8203-E4A,8203,E4A,520,p6_,1,2,2,4.2,8300,,,16,,\n8203-E4A,8203,E4A,520,p6_,2,2,4,4.2,15600,,,31.5,,\n8203-E4A,8203,E4A,520,p6+,1,2,2,4.7,9500,,,20.1,,\n8203-E4A,8203,E4A,520,p6+,2,2,4,4.7,18300,,,39.7,,\n8204-E8A,8204,E8A,550,p6_,1,2,2,3.5,7750,,,15.9,,\n8204-E8A,8204,E8A,550,p6_,2,2,4,3.5,15000,,,31.3,,\n8204-E8A,8204,E8A,550,p6_,3,2,6,3.5,20300,,,45,,\n8204-E8A,8204,E8A,550,p6_,4,2,8,3.5,27600,,,58.8,,\n8204-E8A,8204,E8A,550,p6_,1,2,2,4.2,9200,,,18.4,,\n8204-E8A,8204,E8A,550,p6_,2,2,4,4.2,18000,,,36.3,,\n8204-E8A,8204,E8A,550,p6_,3,2,6,4.2,23850,,,52.2,,\n8204-E8A,8204,E8A,550,p6_,4,2,8,4.2,32650,,,68.2,,\n8204-E8A,8204,E8A,550,p6+,1,2,2,5,10600,,,21.2,,\n8204-E8A,8204,E8A,550,p6+,2,2,4,5,20550,,,41.8,,\n8204-E8A,8204,E8A,550,p6+,3,2,6,5,28800,,,60.2,,\n8204-E8A,8204,E8A,550,p6+,4,2,8,5,37950,,,78.6,,\n8234-EMA,8234,EMA,560,p6+,2,2,4,3.6,14100,,,31.3,,\n8234-EMA,8234,EMA,560,p6+,4,2,8,3.6,27600,,,57.3,,\n8234-EMA,8234,EMA,560,p6+,8,2,16,3.6,48500,,,100.3,,\n9117-MMA,9117,MMA,570,p6_,1,2,2,3.5,8150,,,15.9,,\n9117-MMA,9117,MMA,570,p6_,2,2,4,3.5,16100,,,31.7,,\n9117-MMA,9117,MMA,570,p6_,4,2,8,3.5,30100,,,59,,\n9117-MMA,9117,MMA,570,p6_,6,2,12,3.5,43100,,,83.4,,\n9117-MMA,9117,MMA,570,p6_,8,2,16,3.5,57600,,,105.8,,\n9117-MMA,9117,MMA,570,p6_,1,2,2,4.2,9650,,,18.4,,\n9117-MMA,9117,MMA,570,p6_,2,2,4,4.2,19200,,,36.8,,\n9117-MMA,9117,MMA,570,p6_,4,2,8,4.2,35500,,,68.4,,\n9117-MMA,9117,MMA,570,p6_,6,2,12,4.2,,,,96.7,,\n9117-MMA,9117,MMA,570,p6_,8,2,16,4.2,68600,,,122.7,,\n9117-MMA,9117,MMA,570/32,p6+,2,2,4,4.2,16200,,,35.5,,\n9117-MMA,9117,MMA,570/32,p6+,4,2,8,4.2,31900,,,65,,\n9117-MMA,9117,MMA,570/32,p6+,8,2,16,4.2,56400,,,113.7,,\n9117-MMA,9117,MMA,570/32,p6+,12,2,24,4.2,81600,,,153.5,,\n9117-MMA,9117,MMA,570/32,p6+,16,2,32,4.2,104800,,,193.3,,\n9117-MMA,9117,MMA,570,p6+,1,2,2,4.4,9850,,,19.1,,\n9117-MMA,9117,MMA,570,p6+,2,2,4,4.4,19400,,,38.2,,\n9117-MMA,9117,MMA,570,p6+,4,2,8,4.4,36200,,,71,,\n9117-MMA,9117,MMA,570,p6+,6,2,12,4.4,51500,,,100.4,,\n9117-MMA,9117,MMA,570,p6+,8,2,16,4.4,70000,,,127.3,,\n9117-MMA,9117,MMA,570,p6_,1,2,2,4.7,10800,,,20.1,,\n9117-MMA,9117,MMA,570,p6_,2,2,4,4.7,21200,,,40.3,,\n9117-MMA,9117,MMA,570,p6_,4,2,8,4.7,40100,,,74.9,,\n9117-MMA,9117,MMA,570,p6_,6,2,12,4.7,,,,105.9,,\n9117-MMA,9117,MMA,570,p6_,8,2,16,4.7,76900,,,134.4,,\n9117-MMA,9117,MMA,570,p6+,1,2,2,5,11000,,,21.2,,\n9117-MMA,9117,MMA,570,p6+,2,2,4,5,21600,,,42.3,,\n9117-MMA,9117,MMA,570,p6+,4,2,8,5,40300,,,78.7,,\n9117-MMA,9117,MMA,570,p6+,6,2,12,5,56800,,,111.3,,\n9117-MMA,9117,MMA,570,p6+,8,2,16,5,77600,,,141.2,,\n9117-MMA,9117,MMA,575,p6_,16,2,32,4.7,,,,--,,\n9119-FHA,9119,FHA,595,p6_,4,2,8,4.2,35500,,,75.6,,\n9119-FHA,9119,FHA,595,p6_,8,2,16,4.2,66400,,,142.9,,\n9119-FHA,9119,FHA,595,p6_,16,2,32,4.2,93800,,,266.5,,\n9119-FHA,9119,FHA,595,p6_,24,2,48,4.2,,,,373.6,,\n9119-FHA,9119,FHA,595,p6_,32,2,64,4.2,256200,,,479.9,,\n9119-FHA,9119,FHA,595,p6_,4,2,8,5,41000,,,87.1,,\n9119-FHA,9119,FHA,595,p6_,8,2,16,5,77000,,,164.7,,\n9119-FHA,9119,FHA,595,p6_,16,2,32,5,147900,,,307.1,,\n9119-FHA,9119,FHA,595,p6_,24,2,48,5,,,,430.5,,\n9119-FHA,9119,FHA,595,p6_,32,2,64,5,294700,,,553,,\n8231-E2B,8231,E2B,710,p7_,1,4,4,3,23800,,,,45.1,\n8231-E1C,8231,E1C,710,p7_,1,4,4,3,23800,,,,45.1,\n8231-E2B,8231,E2B,710,p7_,1,8,8,3.55,51800,,,,92,\n8231-E1C,8231,E1C,710,p7_,1,8,8,3.55,51800,,,,92,\n8231-E2B,8231,E2B,710,p7_,1,4,4,3.7,27900,,,,52.9,\n8231-E2B,8231,E2B,710,p7_,1,6,6,3.7,40900,,,,76.7,\n8231-E1C,8231,E1C,710,p7_,1,6,6,3.7,40900,,,,76.7,\n8231-E1D,8231,E1D,710,p7+,1,4,4,3.6,28400,,,,53.9,\n8231-E1D,8231,E1D,710,p7+,1,6,6,4.2,49400,,,,90.6,\n8231-E1D,8231,E1D,710,p7+,1,8,8,4.2,64500,,,,115.5,\n8202-E4B,8202,E4B,720,p7_,1,4,4,3,23800,,,,45.1,\n8202-E4C,8202,E4C,720,p7_,1,4,4,3,23800,,,,45.1,\n8202-E4B,8202,E4B,720,p7_,1,6,6,3,34900,,,,65.5,\n8202-E4C,8202,E4C,720,p7_,1,6,6,3,34900,,,,65.5,\n8202-E4B,8202,E4B,720,p7_,1,8,8,3,46300,,,,81.2,\n8202-E4C,8202,E4C,720,p7_,1,8,8,3,46300,,,,81.2,\n8202-E4D,8202,E4D,720,p7+,1,4,4,3.6,28400,,,,53.9,\n8202-E4D,8202,E4D,720,p7+,1,6,6,3.6,42400,,,,79.5,\n8202-E4D,8202,E4D,720,p7+,1,8,8,3.6,56300,,,,102.4,\n8231-E2B,8231,E2B,730,p7_,2,4,8,3,44600,,,,86.7,\n8231-E2C,8231,E2C,730,p7_,2,4,8,3,44600,,,,86.7,\n8231-E2B,8231,E2B,730,p7_,2,8,16,3.55,97700,,,,176.6,\n8231-E2C,8231,E2C,730,p7_,2,8,16,3.55,97700,,,,176.6,\n8231-E2B,8231,E2B,730,p7_,2,4,8,3.7,51900,,,,101.6,\n8231-E2C,8231,E2C,730,p7_,2,4,8,3.7,51900,,,,101.6,\n8231-E2B,8231,E2B,730,p7_,2,6,12,3.7,77200,,,,147.2,\n8231-E2C,8231,E2C,730,p7_,2,6,12,3.7,77200,,,,147.2,\n8231-E2D,8231,E2D,730,p7+,1,8,8,3.6,,,,,102.4,\n8231-E2D,8231,E2D,730,p7+,2,8,16,3.6,104700,,,,197.7,\n8231-E2D,8231,E2D,730,p7+,1,6,6,4.2,,,,,90.6,\n8231-E2D,8231,E2D,730,p7+,2,6,12,4.2,89200,,,,176.6,\n8231-E2D,8231,E2D,730,p7+,1,8,8,4.2,,,,,115.5,\n8231-E2D,8231,E2D,730,p7+,2,8,16,4.2,117600,,,,223.1,\n8231-E2D,8231,E2D,730,p7+,1,4,4,4.3,,,,,61.7,\n8231-E2D,8231,E2D,730,p7+,2,4,8,4.3,59700,,,,120.4,\n8205-E6B,8205,E6B,740,p7_,1,4,4,3.3,25500,,,,48.3,\n8205-E6B,8205,E6B,740,p7_,2,4,8,3.3,47800,,,,92.8,\n8205-E6C,8205,E6C,740,p7_,1,4,4,3.3,25500,,,,48.3,\n8205-E6C,8205,E6C,740,p7_,2,4,8,3.3,47800,,,,92.8,\n8205-E6B,8205,E6B,740,p7_,1,8,8,3.55,52600,,,,92,\n8205-E6B,8205,E6B,740,p7_,2,8,16,3.55,97700,,,,176.6,\n8205-E6C,8205,E6C,740,p7_,1,8,8,3.55,52600,,,,92,\n8205-E6C,8205,E6C,740,p7_,2,8,16,3.55,97700,,,,176.6,\n8205-E6B,8205,E6B,740,p7_,1,4,4,3.7,27900,,,,52.9,\n8205-E6B,8205,E6B,740,p7_,2,4,8,3.7,52200,,,,101.6,\n8205-E6C,8205,E6C,740,p7_,1,4,4,3.7,27900,,,,52.9,\n8205-E6C,8205,E6C,740,p7_,2,4,8,3.7,52200,,,,101.6,\n8205-E6B,8205,E6B,740,p7_,1,6,6,3.7,41600,,,,76.7,\n8205-E6B,8205,E6B,740,p7_,2,6,12,3.7,77200,,,,147.2,\n8205-E6C,8205,E6C,740,p7_,1,6,6,3.7,41600,,,,76.7,\n8205-E6C,8205,E6C,740,p7_,2,6,12,3.7,77200,,,,147.2,\n8205-E6D,8205,E6D,740,p7+,1,8,8,3.6,56300,,,,102.4,\n8205-E6D,8205,E6D,740,p7+,2,8,16,3.6,106500,,,,197.7,\n8205-E6D,8205,E6D,740,p7+,1,6,6,4.2,49000,,,,90.6,\n8205-E6D,8205,E6D,740,p7+,2,6,12,4.2,91700,,,,176.6,\n8205-E6D,8205,E6D,740,p7+,1,8,8,4.2,64500,,,,115.5,\n8205-E6D,8205,E6D,740,p7+,2,8,16,4.2,120000,,,,223.1,\n8233-E8B,8233,E8B,750,p7_,1,8,8,3,44600,,,,81.2,\n8233-E8B,8233,E8B,750,p7_,2,8,16,3,82600,,,,156,\n8233-E8B,8233,E8B,750,p7_,4,8,32,3,158300,,,,292.5,\n8233-E8B,8233,E8B,750,p7_,1,8,8,3.2,47800,,,,85.3,\n8233-E8B,8233,E8B,750,p7_,2,8,16,3.2,89600,,,,163.8,\n8233-E8B,8233,E8B,750,p7_,3,8,24,3.2,131500,,,,235.4,\n8233-E8B,8233,E8B,750,p7_,4,8,32,3.2,171400,,,,307,\n8233-E8B,8233,E8B,750,p7_,1,6,6,3.3,37200,,,,70.1,\n8233-E8B,8233,E8B,750,p7_,2,6,12,3.3,69200,,,,134.5,\n8233-E8B,8233,E8B,750,p7_,3,6,18,3.3,94900,,,,193.4,\n8233-E8B,8233,E8B,750,p7_,4,6,24,3.3,135300,,,,252.3,\n8233-E8B,8233,E8B,750,p7_,1,8,8,3.3,47800,,,,87,\n8233-E8B,8233,E8B,750,p7_,2,8,16,3.3,88700,,,,167,\n8233-E8B,8233,E8B,750,p7_,4,8,32,3.3,168800,,,,313.2,\n8233-E8B,8233,E8B,750,p7_,1,8,8,3.55,51800,,,,92,\n8233-E8B,8233,E8B,750,p7_,2,8,16,3.55,97700,,,,176.6,\n8233-E8B,8233,E8B,750,p7_,3,8,24,3.55,,,,,253.8,\n8233-E8B,8233,E8B,750,p7_,4,8,32,3.55,181000,,,,331.1,\n8233-E8B,8233,E8B,750,p7_,1,8,8,3.6,52700,,,,93.1,\n8233-E8B,8233,E8B,750,p7_,2,8,16,3.6,97000,,,,178.7,\n8233-E8B,8233,E8B,750,p7_,3,8,24,3.6,141400,,,,256.8,\n8233-E8B,8233,E8B,750,p7_,4,8,32,3.6,183200,,,,335,\n8233-E8B,8233,E8B,750,p7_,1,4,4,3.7,27300,,,,52.9,\n8233-E8B,8233,E8B,750,p7_,3,4,12,3.7,74700,,,,146,\n8233-E8B,8233,E8B,750,p7_,4,4,16,3.7,97700,,,,190.4,\n8233-E8B,8233,E8B,750,p7_,1,6,6,3.7,40800,,,,76.7,\n8233-E8B,8233,E8B,750,p7_,2,6,12,3.7,75500,,,,147.3,\n8233-E8B,8233,E8B,750,p7_,3,6,18,3.7,109100,,,,211.7,\n8233-E8B,8233,E8B,750,p7_,4,6,24,3.7,145600,,,,276.1,\n8233-E8B,8233,E8B,750,p7_,2,8,8,3.7,51000,,,,101.6,\n8408-E8D,8408,E8D,750,p7+,1,8,8,3.5,52000,,,,104.5,\n8408-E8D,8408,E8D,750,p7+,2,16,16,3.5,96000,,,,197,\n8408-E8D,8408,E8D,750,p7+,3,24,24,3.5,141500,,,,275.9,\n8408-E8D,8408,E8D,750,p7+,4,32,32,3.5,185000,,,,354.9,\n8408-E8D,8408,E8D,750,p7+,1,8,8,4,59000,,,,117.1,\n8408-E8D,8408,E8D,750,p7+,2,16,16,4,108000,,,,220.7,\n8408-E8D,8408,E8D,750,p7+,3,24,24,4,158000,,,,309.2,\n8408-E8D,8408,E8D,750,p7+,4,32,32,4,208000,,,,397.7,\n9109-RMD,9109,RMD,760,p7+,1,8,12,3.1,69800,,,,142.1,\n9109-RMD,9109,RMD,760,p7+,2,16,24,3.1,129000,,,,264.8,\n9109-RMD,9109,RMD,760,p7+,3,24,36,3.1,195700,,,,370.7,\n9109-RMD,9109,RMD,760,p7+,4,32,48,3.1,258000,,,,476.7,\n9109-RMD,9109,RMD,760,p7+,1,8,12,3.4,75200,,,,151.4,\n9109-RMD,9109,RMD,760,p7+,2,16,24,3.4,137000,,,,282.1,\n9109-RMD,9109,RMD,760,p7+,3,24,36,3.4,209000,,,,395,\n9109-RMD,9109,RMD,760,p7+,4,32,48,3.4,274000,,,,507.8,\n9117-MMB,9117,MMB,770,p7_,1,8,8,3.1,45000,,,,85.2,\n9117-MMB,9117,MMB,770,p7_,2,8,16,3.1,88000,,,,165.3,\n9117-MMB,9117,MMB,770,p7_,4,8,32,3.1,155850,,,,306.7,\n9117-MMB,9117,MMB,770,p7_,8,8,64,3.1,292700,,,,579.4,\n9117-MMC,9117,MMC,770,p7_,1,8,8,3.3,,,,,89.2,\n9117-MMC,9117,MMC,770,p7_,2,8,16,3.3,93000,,,,173.1,\n9117-MMC,9117,MMC,770,p7_,4,8,32,3.3,162000,,,,321.2,\n9117-MMC,9117,MMC,770,p7_,6,8,48,3.3,252700,,,,464,\n9117-MMC,9117,MMC,770,p7_,8,8,64,3.3,321000,,,,606.8,\n9117-MMB,9117,MMB,770,p7_,1,6,6,3.5,37400,,,,72.6,\n9117-MMB,9117,MMB,770,p7_,2,6,12,3.5,73100,,,,140.8,\n9117-MMB,9117,MMB,770,p7_,4,6,24,3.5,131050,,,,261.2,\n9117-MMB,9117,MMB,770,p7_,8,6,48,3.5,248550,,,,493.4,\n9117-MMC,9117,MMC,770,p7_,1,6,6,3.7,,,,,76,\n9117-MMC,9117,MMC,770,p7_,2,6,12,3.7,77000,,,,147.5,\n9117-MMC,9117,MMC,770,p7_,4,6,24,3.7,135900,,,,273.7,\n9117-MMC,9117,MMC,770,p7_,6,6,36,3.7,211000,,,,395.4,\n9117-MMC,9117,MMC,770,p7_,8,6,48,3.7,270500,,,,517,\n9117-MMD,9117,MMD,770,p7+,2,4,8,3.8,56100,,,,112.5,\n9117-MMD,9117,MMD,770,p7+,4,4,16,3.8,110000,,,,219.3,\n9117-MMD,9117,MMD,770,p7+,8,4,32,3.8,191500,,,,410.8,\n9117-MMD,9117,MMD,770,p7+,12,4,48,3.8,290500,,,,570.1,\n9117-MMD,9117,MMD,770,p7+,16,4,64,3.8,379300,,,,729.3,\n9117-MMD,9117,MMD,770,p7+,2,3,6,4.2,45800,,,,94.5,\n9117-MMD,9117,MMD,770,p7+,4,3,12,4.2,90000,,,,184.2,\n9117-MMD,9117,MMD,770,p7+,8,3,24,4.2,154800,,,,345.1,\n9117-MMD,9117,MMD,770,p7+,12,3,36,4.2,242600,,,,478.9,\n9117-MMD,9117,MMD,770,p7+,16,3,48,4.2,306600,,,,612.7,\n9179-MHC,9179,MHC,780,p7_,2,6,12,3.44,,,,,138.4,\n9179-MHC,9179,MHC,780,p7_,4,6,24,3.44,138500,,,,253.3,\n9179-MHC,9179,MHC,780,p7_,8,6,48,3.44,276000,,,,443.3,\n9179-MHC,9179,MHC,780,p7_,12,6,72,3.44,413000,,,,696.6,\n9179-MHC,9179,MHC,780,p7_,16,6,96,3.44,550700,,,,886.6,\n9179-MHB,9179,MHB,780,p7_,1,8,8,3.86,54400,,,,100.8,\n9179-MHB,9179,MHB,780,p7_,2,8,16,3.86,105200,,,,195.5,\n9179-MHB,9179,MHB,780,p7_,4,8,32,3.86,177400,,,,362.7,\n9179-MHB,9179,MHB,780,p7_,8,8,64,3.86,343050,,,,685.1,\n9179-MHC,9179,MHC,780,p7_,1,8,8,3.92,,,,,101.8,\n9179-MHC,9179,MHC,780,p7_,2,8,16,3.92,106000,,,,197.6,\n9179-MHC,9179,MHC,780,p7_,4,8,32,3.92,183000,,,,366.6,\n9179-MHC,9179,MHC,780,p7_,6,8,48,3.92,286500,,,,529.6,\n9179-MHC,9179,MHC,780,p7_,8,8,64,3.92,363000,,,,692.5,\n9179-MHB,9179,MHB,780,p7_,2,8,8,4.14,57450,,,,115.9,\n9179-MHB,9179,MHB,780,p7_,4,8,16,4.14,114850,,,,227,\n9179-MHB,9179,MHB,780,p7_,8,8,32,4.14,229650,,,,425.5,\n9179-MHD,9179,MHD,780,p7+,2,8,16,3.7,108500,,,,207,\n9179-MHD,9179,MHD,780,p7+,4,8,32,3.7,209500,,,,383.9,\n9179-MHD,9179,MHD,780,p7+,8,8,64,3.7,414900,,,,690.1,\n9179-MHD,9179,MHD,780,p7+,12,8,96,3.7,622300,,,,1151.6,\n9179-MHD,9179,MHD,780,p7+,16,8,128,3.7,829900,,,,1380.2,\n9179-MHD,9179,MHD,780,p7+,2,4,8,4.4,63200,,,,126.1,\n9179-MHD,9179,MHD,780,p7+,4,4,16,4.4,123500,,,,245.7,\n9179-MHD,9179,MHD,780,p7+,8,4,32,4.4,214000,,,,460.3,\n9179-MHD,9179,MHD,780,p7+,12,4,48,4.4,326100,,,,638.7,\n9179-MHD,9179,MHD,780,p7+,16,4,64,4.4,424400,,,,817.1,\n9119-FHB,9119,FHB,795,p7_,4,6,24,3.7,149100,,,,273.5,\n9119-FHB,9119,FHB,795,p7_,8,6,48,3.7,,,,,547,\n9119-FHB,9119,FHB,795,p7_,8,6,48,3.7,288500,,,,n/a,\n9119-FHB,9119,FHB,795,p7_,12,6,72,3.7,,,,,820.5,\n9119-FHB,9119,FHB,795,p7_,16,6,96,3.7,,,,,1094,\n9119-FHB,9119,FHB,795,p7_,20,6,120,3.7,,,,,1367.6,\n9119-FHB,9119,FHB,795,p7_,24,6,144,3.7,,,,,1641.1,\n9119-FHB,9119,FHB,795,p7_,28,6,168,3.7,,,,,1914.6,\n9119-FHB,9119,FHB,795,p7_,32,6,192,3.7,,,,,2188.1,\n9119-FHB,9119,FHB,795,p7_,4,8,32,4,204300,,,,372.3,\n9119-FHB,9119,FHB,795,p7_,8,8,64,4,399200,,,,744.5,\n9119-FHB,9119,FHB,795,p7_,12,8,96,4,,,,,1116.8,\n9119-FHB,9119,FHB,795,p7_,16,8,128,4,,,,,1489.1,\n9119-FHB,9119,FHB,795,p7_,16,8,128,4,,,,,1406.4,\n9119-FHB,9119,FHB,795,p7_,20,8,160,4,,,,,1861.4,\n9119-FHB,9119,FHB,795,p7_,24,8,192,4,,,,,2233.6,\n9119-FHB,9119,FHB,795,p7_,28,8,224,4,,,,,2605.9,\n9119-FHB,9119,FHB,795,p7_,32,8,256,4,,,,,2978.2,\n9119-FHB,9119,FHB,795,p7_,32,8,256,4,,,,,2812.7,\n9119-FHB,9119,FHB,795,p7_,6,8,24,4.25,,,,,347.4,\n9119-FHB,9119,FHB,795,p7_,6,8,24,4.25,162100,,,,n/a,\n9119-FHB,9119,FHB,795,p7_,8,8,32,4.25,,,,,463.1,\n9119-FHB,9119,FHB,795,p7_,8,8,32,4.25,218400,,,,n/a,\n9119-FHB,9119,FHB,795,p7_,12,8,48,4.25,,,,,694.7,\n9119-FHB,9119,FHB,795,p7_,16,8,64,4.25,,,,,926.3,\n9119-FHB,9119,FHB,795,p7_,16,8,64,4.25,,,,,777.1,\n9119-FHB,9119,FHB,795,p7_,20,8,80,4.25,,,,,1157.9,\n9119-FHB,9119,FHB,795,p7_,24,8,96,4.25,,,,,1389.4,\n9119-FHB,9119,FHB,795,p7_,28,8,112,4.25,,,,,1621,\n9119-FHB,9119,FHB,795,p7_,32,8,128,4.25,,,,,1852.6,\n9119-FHB,9119,FHB,795,p7_,32,8,128,4.25,,,,,1554.2,\n7895-22X,7895,22X,p260,p7_,2,8,16,3.22,80500,,,,163.8,\n7895-22X,7895,22X,p260,p7_,2,4,8,3.3,38500,,,,92.8,\n7895-22X,7895,22X,p260,p7_,2,8,16,3.55,87000,,,,176.6,\n7895-23A,7895,23A,p260,p7+,2,2,4,4.08,25400,,,,61.2,\n7895-23X,7895,23X,p260,p7+,2,4,8,4,51400,,,,115.5,\n7895-23X,7895,23X,p260,p7+,2,8,16,3.6,99500,,,,197.7,\n7895-23X,7895,23X,p260,p7+,2,8,16,4.1,110000,,,,218.5,\n7954-24X,7954,24X,p270,p7+,2,12,24,3.13,123500,,,,251.6,\n7954-24X,7954,24X,p270,p7+,2,12,24,3.41,131500,,,,268,\n7895-42X,7895,42X,p460,p7_,4,8,32,3.22,150000,,,,307,\n7895-42X,7895,42X,p460,p7_,4,4,16,3.3,80500,,,,174,\n7895-42X,7895,42X,p460,p7_,4,8,32,3.55,162000,,,,331.1,\n7895-43X,7895,43X,p460,p7+,4,4,16,4.08,109500,,,,225,\n7895-43X,7895,43X,p460,p7+,4,8,32,3.61,198900,,,,372.6,\n7895-43X,7895,43X,p460,p7+,4,8,32,4.11,219900,,,,411.7,\n8406-70Y,8406,70Y,PS700,p7_,1,4,4,3,21100,,,,45.1,\n8406-71Y,8406,71Y,PS701,p7_,1,8,8,3,42100,,,,81.2,\n8406-71Y,8406,71Y,PS702,p7_,2,8,16,3,76300,,,,154.4,\n7891-73X,7891,73X,PS703,p7_,2,8,16,2.4,64000,,,,134.1,\n7981-74X,7981,74X,PS704,p7_,4,8,32,2.4,110000,,,,251.5,\n8284-21A,8284,21A,S812,p8,1,1,1,3.02,9360,,N/A,N/A,N/A,N/A\n8284-21A,8284,21A,S812,p8,1,4,4,3.02,,,31.3,45.3,58.9,63\n8284-22A,8284,22A,S822,p8,1,4,4,3.02,,,31.3,45.3,58.9,63\n8284-22A,8284,22A,S822,p8,2,4,8,3.02,,,60.9,88.4,114.8,122.9\n8284-22A,8284,22A,S822,p8,1,6,6,3.89,45220,,56.4,81.9,106.4,113.8\n8284-22A,8284,22A,S822,p8,2,6,12,3.89,,,110,159.6,207.4,221.9\n8284-22A,8284,22A,S822,p8,1,8,8,4.15,49960,,77.5,112.4,146.1,N/A\n8284-22A,8284,22A,S822,p8,2,8,16,4.15,,,151.1,219.2,284.9,N/A\n8284-22A,8284,22A,S822,p8,1,10,10,3.42,42470,,83.1,120.4,156.6,167.5\n8284-22A,8284,22A,S822,p8,2,10,20,3.42,,,161.9,234.8,305.2,326.6\n8286-41A,8286,41A,S814,p8,1,4,4,3.02,37440,,31.3,45.3,58.9,63\n8286-41A,8286,41A,S814,p8,1,6,6,3.02,56400,,45.5,66,85.8,91.8\n8286-41A,8286,41A,S814,p8,1,8,8,3.72,81050,,67.3,97.5,126.7,135.6\n8286-42A,8286,42A,S824,p8,1,6,6,3.89,68250,,56.4,81.9,106.4,113.8\n8286-42A,8286,42A,S824,p8,2,6,12,3.89,123240,,110,159.6,207.4,221.9\n8286-42A,8286,42A,S824,p8,1,8,8,4.15,89580,,77.5,112.4,146.1,156.4\n8286-42A,8286,42A,S824,p8,2,8,16,4.15,164470,,151.1,219.2,284.9,304.8\n8286-42A,8286,42A,S824,p8,2,12,24,3.52,218510,,197,285.6,371.3,397.3\n8408-E8E,8408,E8E,E850,p8,2,8,16,3.72,,,142.2,206.2,268.1,286.6\n8408-E8E,8408,E8E,E850,p8,3,8,24,3.72,,,209.8,304.2,395.5,423.1\n8408-E8E,8408,E8E,E850,p8,4,8,32,3.72,,,277.3,402.1,522.8,559.4\n8408-E8E,8408,E8E,E850,p8,2,10,20,3.35,,,162.4,235.6,306.2,327.6\n8408-E8E,8408,E8E,E850,p8,3,10,30,3.35,,,239.6,347.4,451.7,483.2\n8408-E8E,8408,E8E,E850,p8,4,10,40,3.35,,,316.8,459.3,597.1,639\n8408-E8E,8408,E8E,E850,p8,2,12,24,3.02,,,178.9,259.4,337.2,360.8\n8408-E8E,8408,E8E,E850,p8,3,12,36,3.02,,,263.9,382.6,497.4,532.2\n8408-E8E,8408,E8E,E850,p8,4,12,48,3.02,,,348.8,505.9,657.6,703.6\n8408-44E,8408,44E,E850C,p8,2,8,16,4.22,,,156.3,226.6,294.7,315.3\n8408-44E,8408,44E,E850C,p8,3,8,24,4.22,,,230.6,334.3,434.6,465.1\n8408-44E,8408,44E,E850C,p8,4,8,32,4.22,,,304.8,442,574.6,614.8\n8408-44E,8408,44E,E850C,p8,2,10,20,3.95,,,183.6,266.2,346.1,370.3\n8408-44E,8408,44E,E850C,p8,3,10,30,3.95,,,270.8,392.6,510.5,546.2\n8408-44E,8408,44E,E850C,p8,4,10,40,3.95,,,358,519.1,674.8,722\n8408-44E,8408,44E,E850C,p8,2,12,24,3.65,,,205.8,298.4,388,415.1\n8408-44E,8408,44E,E850C,p8,3,12,36,3.65,,,303.6,440.2,572.3,612.3\n8408-44E,8408,44E,E850C,p8,4,12,48,3.65,,,401.4,582,756.5,809.5\n9119-MME,9119,MME,E870,p8,4,8,32,4.02,340330,,315,456.8,593.8,635.4\n9119-MME,9119,MME,E870,p8,8,8,64,4.02,674020,,630,913.6,1187.7,1270.8\n9119-MME,9119,MME,E870,p8,4,10,40,4.19,436080,,399.8,579.7,753.6,806.4\n9119-MME,9119,MME,E870,p8,8,10,80,4.19,863620,,799.6,1159.3,1507.1,1612.6\n9080-MME,9080,MME,E870C,p8,4,8,32,4.02,340330,,315,456.8,593.8,635.4\n9080-MME,9080,MME,E870C,p8,8,8,64,4.02,674020,,630,913.6,1187.7,1270.8\n9119-MHE,9119,MHE,E880,p8,4,8,32,4.35,361180,,334.5,485,630.6,674.8\n9119-MHE,9119,MHE,E880,p8,8,8,64,4.35,715740,,669,970.1,1261.1,1349.4\n9119-MHE,9119,MHE,E880,p8,12,8,96,4.35,1084510,,1003.5,1455.2,1891.7,2024.2\n9119-MHE,9119,MHE,E880,p8,16,8,128,4.35,1443800,,1338.1,1940.2,2522.3,2698.8\n9119-MHE,9119,MHE,E880,p8,4,10,40,4.19,436080,,399.8,579.7,753.6,806.4\n9119-MHE,9119,MHE,E880,p8,8,10,80,4.19,863620,,799.6,1159.3,1507.1,1612.6\n9119-MHE,9119,MHE,E880,p8,12,10,120,4.19,1291170,,1199.4,1739.1,2260.8,2419.1\n9119-MHE,9119,MHE,E880,p8,16,10,160,4.19,1718720,,1599.1,2318.8,3014.4,3225.4\n9119-MHE,9119,MHE,E880,p8,4,12,48,4,491060,,456,661.3,859.7,919.8\n9119-MHE,9119,MHE,E880,p8,8,12,96,4,980230,,912,1322.6,1719.2,1839.6\n9119-MHE,9119,MHE,E880,p8,12,12,144,4,1470340,,1368.2,1983.8,2578.9,2759.4\n9119-MHE,9119,MHE,E880,p8,16,12,192,4,1961410,,1824.2,2645,3438.6,3679.3\n9080-MHE,9080,MHE,E880C,p8,4,8,32,4.35,361180,,334.5,485,630.6,674.8\n9080-MHE,9080,MHE,E880C,p8,8,8,64,4.35,715740,,669,970.1,1261.1,1349.4\n9080-MHE,9080,MHE,E880C,p8,12,8,96,4.35,1084510,,1003.5,1455.2,1891.7,2024.2\n9080-MHE,9080,MHE,E880C,p8,16,8,128,4.35,1443800,,1338.1,1940.2,2522.3,2698.8\n9080-MHE,9080,MHE,E880C,p8,4,10,40,4.19,436080,,399.8,579.7,753.6,806.4\n9080-MHE,9080,MHE,E880C,p8,8,10,80,4.19,863620,,799.6,1159.3,1507.1,1612.6\n9080-MHE,9080,MHE,E880C,p8,12,10,120,4.19,1291170,,1199.4,1739.1,2260.8,2419.1\n9080-MHE,9080,MHE,E880C,p8,16,10,160,4.19,1718720,,1599.1,2318.8,3014.4,3225.4\n9080-MHE,9080,MHE,E880C,p8,4,12,48,4,491060,,456,661.3,859.7,919.8\n9080-MHE,9080,MHE,E880C,p8,8,12,96,4,980230,,912,1322.6,1719.2,1839.6\n9080-MHE,9080,MHE,E880C,p8,12,12,144,4,1470340,,1368.2,1983.8,2578.9,2759.4\n9080-MHE,9080,MHE,E880C,p8,16,12,192,4,1961410,,1824.2,2645,3438.6,3679.3\n9009-22A,9009,22A,S922,p9,1,4,4,2.8 - 3.8,60000,,30.4,51.6,71.2,89.8\n9009-22A,9009,22A,S922,p9,1,8,8,3.4 - 3.9,68000,,68.4,116.3,160.5,202.3\n9009-22A,9009,22A,S922,p9,2,8,16,3.4 - 3.9,,,133.4,226.9,313.1,394.5\n9009-22A,9009,22A,S922,p9,1,10,10,2.9 - 3.8,,,74,125.7,173.5,218.6\n9009-22A,9009,22A,S922,p9,2,10,20,2.9 - 3.8,,,144.2,245.2,338.4,426.4\n9009-41A,9009,41A,S914,p9,1,4,4,2.3 - 3.8,52500,,25.8,43.8,60.4,76.1\n9009-41A,9009,41A,S914,p9,1,6,6,2.3 - 3.8,78500,,37.7,64.1,88.5,111.5\n9009-41A,9009,41A,S914,p9,1,8,8,2.8 - 3.8,122500,,58.2,98.9,136.5,172\n9009-42A,9009,42A,S924,p9,1,8,8,3.8 - 4.0,145500,,74.2,126.2,174.1,219.4\n9009-42A,9009,42A,S924,p9,2,8,16,3.8 - 4.0,268500,,144.7,246,339.5,427.8\n9009-42A,9009,42A,S924,p9,1,10,10,3.5 - 3.9,174500,,86.6,147.3,203.3,256.1\n9009-42A,9009,42A,S924,p9,2,10,20,3.5 - 3.9,318000,,169,287.2,396.4,499.5\n9009-42A,9009,42A,S924,p9,2,11,22,3.45 - 3.9,350000,,182.9,310.9,429,540.6\n9009-42A,9009,42A,S924,p9,2,12,24,3.4 - 3.9,370700,,197.2,335.3,462.7,583.1\n9040-MR9,9040,MR9,E950,p9,2,8,16,3.6 - 3.8,,,151,256.7,354.2,446.3\n9040-MR9,9040,MR9,E950,p9,4,8,32,3.6 - 3.8,,,294.4,500.6,690.8,870.4\n9040-MR9,9040,MR9,E950,p9,2,10,20,3.4 - 3.8,,,179.4,304.9,420.8,530.2\n9040-MR9,9040,MR9,E950,p9,4,10,40,3.4 - 3.8,,,349.8,594.7,820.7,1034.1\n9040-MR9,9040,MR9,E950,p9,2,11,22,3.2 - 3.8,,,185.9,316.1,436.2,549.2\n9040-MR9,9040,MR9,E950,p9,4,11,44,3.2 - 3.8,,,362.6,616.4,850.7,1071.9\n9040-MR9,9040,MR9,E950,p9,2,12,24,3.15 - 3.8,,,198.9,338.1,466.5,587.8\n9040-MR9,9040,MR9,E950,p9,4,12,48,3.15 - 3.8,,,387.8,659.3,909.9,1146.4\n9080-M9S,9080,M9S,E980,p9,4,8,32,3.9 - 4.0,508900,,307.8,523.3,722.2,910\n9080-M9S,9080,M9S,E980,p9,8,8,64,3.9 - 4.0,1012000,,615.7,1046.7,1444.4,1820\n9080-M9S,9080,M9S,E980,p9,12,8,96,3.9 - 4.0,1521000,,923.5,1570,2166.6,2729.9\n9080-M9S,9080,M9S,E980,p9,16,8,128,3.9 - 4.0,2030000,,1231.4,2093.4,2888.8,3639.9\n9080-M9S,9080,M9S,E980,p9,4,10,40,3.7 - 3.9,611300,,371.5,631.5,871.5,1098.1\n9080-M9S,9080,M9S,E980,p9,8,10,80,3.7 - 3.9,1216000,,743,1263.1,1743,2196.2\n9080-M9S,9080,M9S,E980,p9,12,10,120,3.7 - 3.9,1827000,,1114.5,1894.6,2614.5,3294.3\n9080-M9S,9080,M9S,E980,p9,16,10,160,3.7 - 3.9,2439000,,1486,2526.1,3486,4392.4\n9080-M9S,9080,M9S,E980,p9,4,6,24,3.58 - 3.9,381000,,227.5,386.7,533.7,672.3\n9080-M9S,9080,M9S,E980,p9,8,6,48,3.58 - 3.9,759000,,454.9,773.4,1067.3,1344.7\n9080-M9S,9080,M9S,E980,p9,12,6,72,3.58 - 3.9,1140000,,682.4,1160.1,1601,2017\n9080-M9S,9080,M9S,E980,p9,16,6,96,3.58 - 3.9,1522000,,909.9,1546.8,2134.6,2689.4\n9080-M9S,9080,M9S,E980,p9,4,11,44,3.58 - 3.9,639000,,399.7,679.5,937.7,1181.4\n9080-M9S,9080,M9S,E980,p9,8,11,88,3.58 - 3.9,1271000,,799.4,1358.9,1875.3,2362.9\n9080-M9S,9080,M9S,E980,p9,12,11,132,3.58 - 3.9,1910000,,1199,2038.4,2813,3544.3\n9080-M9S,9080,M9S,E980,p9,16,11,176,3.58 - 3.9,2549000,,1598.7,217.8,3750.6,4725.8\n9080-M9S,9080,M9S,E980,p9,4,12,48,3.55 - 3.9,687500,,429.7,730.5,1008.1,1270.2\n9080-M9S,9080,M9S,E980,p9,8,12,96,3.55 - 3.9,1368000,,859.4,1461,2016.2,2540.4\n9080-M9S,9080,M9S,E980,p9,12,12,144,3.55 - 3.9,2055600,,1289.1,2191.5,3024.2,3810.6\n9080-M9S,9080,M9S,E980,p9,16,12,192,3.55 - 3.9,2743000,,1718.8,2922,4032.3,5080.7",
        "output": "str",
        "x": 320,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6ac1cc9.c5ddbb4",
        "type": "inject",
        "z": "e134af0e.019898",
        "name": "Insert DB entries",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "691242c9.ef442c"
            ]
        ]
    },
    {
        "id": "3218e70f.3e277",
        "type": "inject",
        "z": "e134af0e.019898",
        "name": "Clear DB entries",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "a02d84f9.1d34f"
            ]
        ]
    },
    {
        "id": "a02d84f9.1d34f",
        "type": "template",
        "z": "e134af0e.019898",
        "name": "Empty query",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "{}",
        "output": "json",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "5e5dd861.cff128"
            ]
        ]
    },
    {
        "id": "11bfe1b5.7a1fce",
        "type": "template",
        "z": "e134af0e.019898",
        "name": "Example query document",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{ \"architecture\" : \"p8\", \"rperfSMT8\": { \"$gt\" : 200, \"$lt\" : 250 } }",
        "output": "json",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "a1a61d6d.df63"
            ]
        ]
    },
    {
        "id": "b5bbe257.a24a8",
        "type": "inject",
        "z": "e134af0e.019898",
        "name": "Query DB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "11bfe1b5.7a1fce"
            ]
        ]
    },
    {
        "id": "94fc067c.ae704",
        "type": "mongodb out",
        "z": "e134af0e.019898",
        "mongodb": "e8ab76b0.450f8",
        "name": "Mongo Insert",
        "collection": "performance",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "5e5dd861.cff128",
        "type": "mongodb out",
        "z": "e134af0e.019898",
        "mongodb": "e8ab76b0.450f8",
        "name": "Mongo Delete All",
        "collection": "performance",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "a1a61d6d.df63",
        "type": "mongodb in",
        "z": "e134af0e.019898",
        "mongodb": "e8ab76b0.450f8",
        "name": "Mongo Find",
        "collection": "performance",
        "operation": "find",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "a56b099c.0f795",
                "f34a1ac5.3984e8"
            ]
        ]
    },
    {
        "id": "f34a1ac5.3984e8",
        "type": "split",
        "z": "e134af0e.019898",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "a6db1265.3d26d"
            ]
        ]
    },
    {
        "id": "a6db1265.3d26d",
        "type": "debug",
        "z": "e134af0e.019898",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "2e54d1b.f4acbae",
        "type": "http in",
        "z": "e134af0e.019898",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "7b200d2b.c047dc"
            ]
        ]
    },
    {
        "id": "c18cb7db.2386e",
        "type": "mongodb in",
        "z": "e134af0e.019898",
        "mongodb": "e8ab76b0.450f8",
        "name": "Mongo Find",
        "collection": "performance",
        "operation": "find",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "61dfb210.4e27ec"
            ]
        ]
    },
    {
        "id": "6ef8ff30.ddc02",
        "type": "http response",
        "z": "e134af0e.019898",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "8c45f23.964811",
        "type": "debug",
        "z": "e134af0e.019898",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 540,
        "wires": []
    },
    {
        "id": "61dfb210.4e27ec",
        "type": "function",
        "z": "e134af0e.019898",
        "name": "",
        "func": "msg.text = \"Servers: <br />\\n\"\nmsg.payload.forEach(unpack);\n\nfunction unpack(item, index) {\n    msg.text += item.modelType + \" with \" + item.totalCores + \" cores<br />\\n\"\n}\nmsg.payload = msg.text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 480,
        "wires": [
            [
                "6ef8ff30.ddc02"
            ]
        ]
    },
    {
        "id": "7b200d2b.c047dc",
        "type": "function",
        "z": "e134af0e.019898",
        "name": "",
        "func": "if (msg.payload.model) {\n    msg.payload.model = JSON.parse(msg.payload.model)\n}\nif (msg.payload.type) {\n    msg.payload.type = JSON.parse(msg.payload.type)\n}\nif (msg.payload.modelType) {\n    msg.payload.modelType = JSON.parse(msg.payload.modelType)\n}\nif (msg.payload.frequencyGHz) {\n    msg.payload.frequencyGHz = JSON.parse(msg.payload.frequencyGHz)\n}\nif (msg.payload.totalCores) {\n    msg.payload.totalCores = JSON.parse(msg.payload.totalCores)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "8c45f23.964811",
                "c18cb7db.2386e"
            ]
        ]
    },
    {
        "id": "36ffc8d.2ca9438",
        "type": "http in",
        "z": "e134af0e.019898",
        "name": "",
        "url": "/rperf",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 600,
        "wires": [
            [
                "e97836bb.020678"
            ]
        ]
    },
    {
        "id": "bbcacd1.283c2b",
        "type": "mongodb in",
        "z": "e134af0e.019898",
        "mongodb": "e8ab76b0.450f8",
        "name": "Mongo Find",
        "collection": "performance",
        "operation": "find",
        "x": 410,
        "y": 600,
        "wires": [
            [
                "da18d2f3.3ac718"
            ]
        ]
    },
    {
        "id": "da18d2f3.3ac718",
        "type": "http response",
        "z": "e134af0e.019898",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "262f0c55.a0b4dc",
        "type": "debug",
        "z": "e134af0e.019898",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 660,
        "wires": []
    },
    {
        "id": "e97836bb.020678",
        "type": "function",
        "z": "e134af0e.019898",
        "name": "",
        "func": "msg.query={}\n\nif (msg.payload.model) {\n    msg.query.model = JSON.parse(msg.payload.model)\n}\nif (msg.payload.type) {\n    if(isNaN(msg.payload.type)) {\n        msg.query.type = msg.payload.type\n    } else {\n        msg.query.type = JSON.parse(msg.payload.type)\n    }\n}\nif (msg.payload.sockets) {\n    msg.query.sockets = JSON.parse(msg.payload.sockets)\n}\nif (msg.payload.coresPerSocket) {\n    msg.query.coresPerSocket = JSON.parse(msg.payload.coresPerSocket)\n}\nif (msg.payload.modelType) {\n    msg.query.modelType = msg.payload.modelType\n}\nif (msg.payload.architecture) {\n    msg.query.architecture = msg.payload.architecture\n}\nif (msg.payload.frequencyGHz) {\n    msg.query.frequencyGHz = JSON.parse(msg.payload.frequencyGHz)\n}\nif (msg.payload.totalCores) {\n    msg.query.totalCores = JSON.parse(msg.payload.totalCores)\n}\n\nmsg.payload = msg.query\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 240,
        "y": 600,
        "wires": [
            [
                "262f0c55.a0b4dc",
                "bbcacd1.283c2b"
            ]
        ]
    },
    {
        "id": "691242c9.ef442c",
        "type": "file in",
        "z": "e134af0e.019898",
        "name": "",
        "filename": "perf.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 320,
        "y": 140,
        "wires": [
            [
                "f524098a.a4879"
            ]
        ]
    }
]